body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../create_Account/create_account_images/image14.jpg);
    background-size: 100%;
    background-position: center;
}

/* create a template grid of 1 fraction */
.container {
	display: grid;
	grid-template-columns: 1fr;
}

/*-----Nav styles-----*/
/* gives a space between the nav-wrapper divs */
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	background: rgba(255,255,255,0.5);
    padding-top: 30px;
    padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}

/* gives a space between the left-side divs */
.left-side {
	display: flex;
}

/* modifies the stats of left-side div */
.nav-wrapper > .left-side > div {
	margin-right: 20px;
	font-size: 0.98em;
	text-transform: uppercase;
}

/* modifies the stats of the wrapper around the link */
/* last step gives a trasition */
.nav-link-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

/* changes the color of the link to grey and gives a transition */
.nav-link-wrapper a {
	color: #797878;
	text-decoration: none;
	transition: color 0.5s;
}

/* changes the wrapper border under the links to black when hover over */
.nav-link-wrapper:hover {
	border-bottom: 2px solid black;
}

/* changes the color of the links to black when hover over */
.nav-link-wrapper a:hover {
	color: black;
}

/*----- Box Styles-----*/
/* modifies the setting of the sign-up-form */
.about-us-form
{
    width: 700px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background:  rgba(255,255,255,0.5);
    padding: 20px;
    margin: 5% auto 0;
    text-align: left;
}

.title
{
	text-align: center;
}