body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../create_Account/create_account_images/image14.jpg);
    background-size: cover;
    background-position: center;
}

/* create a template grid of 1 fraction */
.container {
	display: grid;
	grid-template-columns: 1fr;
}

/*-----Nav styles-----*/
/* gives a space between the nav-wrapper divs */
.nav-wrapper {
	display: flex;
	justify-content: space-between;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/* gives a space between the left-side divs */
.left-side {
	display: flex;
}

/* modifies the stats of left-side div */
.nav-wrapper > .left-side > div {
	margin-right: 20px;
	font-size: 0.98em;
	text-transform: uppercase;
}

/* modifies the stats of the wrapper around the link */
/* last step gives a trasition */
.nav-link-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

/* changes the color of the link to grey and gives a transition */
.nav-link-wrapper a {
	color: #797878;
	text-decoration: none;
	transition: color 0.5s;
}

/* changes the wrapper border under the links to black when hover over */
.nav-link-wrapper:hover {
	border-bottom: 2px solid black;
}

/* changes the color of the links to black when hover over */
.nav-link-wrapper a:hover {
	color: black;
}

/*----- Box Styles-----*/
/* modifies the setting of the sign-up-form */
.sign-up-form
{
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background:  rgba(255,255,255,0.5);
    padding: 20px;
    margin: 5% auto 0;
    text-align: center;
}

/* Title */
.sign-up-form h1
{
    color: #1c8adb;
    margin-bottom: 20px;
}

/* Input boxes*/
input[type=name], input[type=school] 
{
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* choose major font */
.sign-up-form h3
{
    color: grey;
    font-size: medium;
}

/* select box modifier */
.select-box select
{
    background: #f1f1f1;
    color: black;
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
}

.select-box:before
{
    content: '';
    width: 50px;
    height: 50px;
    background: #dcdce2;
}

.select-box:hover:before
{
    background: #797878;
}

/* confirm button modifier */
button[type=submit] {
    color: #ffffff;
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.confirm-button
{
    background-color: #1c8adb;
    transition: 0.8s;
}

.confirm-button:hover
{
    transform: scale(0.96);
}